{{/* Custom head content */}}
{{/* This file will be automatically included in the <head> section */}}

{{/* Example: Custom fonts from Google Fonts */}}
{{/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet"> */}}

{{/* Example: Custom meta tags */}}
{{/* <meta name="custom-property" content="your-value"> */}}

{{/* Add your custom head content here */}}